*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    min-width: 110px;
}

.my_top-logo-img{
    width: 80px;
    margin: 15px 0;
}

.my_nav-logo-img{
    width: 40px;
}

.my_nav-lens-img{
    width: 20px;
}

.jumbotron{
    height: 800px;
    min-height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position:center;
    margin-top: 110px;
}

.my_jumbotron-logo-img{
    width: 200px;
}

.my_img_list{
    width: 100%;
}

