*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 450px;
}

ul{
    list-style: none;
}

.my_ul-nav{
    list-style: disc;
    color: rgb(101, 155, 202);
}

.my_ul-li-nav{
    color: black;
}

a{
    text-decoration: none;
}

.dropdown-toggle::after {
    display:none;
}

header{
    min-width: 110px;
}

.my_top-logo-img{
    width: 80px;
    margin: 15px 0;
}

.my_nav-logo-img{
    width: 40px;
}

.my_nav-lens-img{
    width: 20px;
}

.jumbotron{
    height: 900px;
    min-height: 900px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position:center;
    margin-top: 110px;
}

.jumbotron-main{
    height: 900px;
    min-height: 900px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position:center;
    margin-top: 110px;
}

.my_jumbotron-logo-img{
    width: 200px;
}

.my_jumbotron-main-logo-img{
    width: 400px;
}
img{
    width: 100%;
    height: 100%;
}

.my_game-list{
    width: 90%;
}

.my_slide-up-thumbnail{
    transition: margin-top 1s;
    margin-top: 0;
}

.my_border-game-list{
    border: 1px solid rgb(101, 155, 202);
    border-radius: 10px;
}

.my_box-ps5-device{
    height: 180px;
}

.my_nav-sub-link{
    margin-right: 30px;
}

.my_nav-sub-link-a{
    color: rgb(0, 0, 0);
}

.my_dropmenu-col-width{
    width: 120px;
}

.my_nav-chevron, .my_nav-chevron-hover{
    width: 10px;
}

.my_nav-chevron{
    display: inline-block;
}

.my_nav-chevron-hover{
    display: none;
}

.my_width-60{
    width: 60%;
}

.my_ps5-opacity{
    opacity: 0.5;
}

.my_width-200px{
    width: 200px;
}

.my_img-border-radius{
    border-radius: 10px;
}

.my_logo-language{
    width: 20px;
}

.my_cursor{
    cursor: pointer;
}

.my_info-footer{
    text-decoration: underline;
}

.my_padding-btn{
    padding: .375rem .2rem !important; 
}

.my_white-border-blue-btn{
    border: 3px solid rgb(45, 100, 230);
    border-radius: 50rem;
    padding: 2px 30px;
    transition: 0.3s;
}

.my_white-border-grey-btn{
    border: 3px solid rgb(54, 54, 54);
    border-radius: 50rem;
    padding: 2px 10px;
    transition: 0.3s;
}

.my_white-border-red-btn{
    border: 3px solid rgb(205, 61, 15);
    border-radius: 50rem;
    padding: 2px 20px;
    transition: 0.3s;
}

.my_white-border-light-grey-btn{
    border: 3px solid rgb(245, 245, 245);
    border-radius: 50rem;
    padding: 2px 20px;
    transition: 0.3s;
}

/* COLORI */

.my_bg-white{
    background-color: rgb(255, 255, 255);
}

.my_bg-grey{
    background-color: rgb(190, 188, 187);
}

.my_bg-blue{
    background-color: rgb(22, 28, 59);
}

.my_bg-playstation-blue{
    background-color: rgb(0, 67, 156);
}

.my_blue-text-color{
    color: rgb(12, 120, 208);
}

.my_btn-bg-grey{
    background-color: rgb(54, 54, 54);
}

.my_btn-bg-red{
    background-color: rgb(205, 61, 15);
}

.my_btn-bg-blue{
    background-color: rgb(45, 100, 230);
}

.my_text-blue-btn{
    color: rgb(45, 100, 230);
}

.my_btn-bg-light-grey{
    background-color: rgb(245, 245, 245);
}

.my_btn-bg-light-grey-ps-plus{
    background-color: rgb(217, 218, 220);
}

/*HOVER*/

.my_nav-ps-icon:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.3)!important;
}

.nav-item:hover .my_nav-chevron{
    display: none;
}

.nav-item:hover .my_nav-chevron-hover{
    display: inline-block;
}

.my_nav-sub-link-a:hover{
    color: rgb(101, 155, 202);
}

.my_slide-up-thumbnail:hover img{
    margin-top: -10px; 
}

.my_ps5-opacity:hover{
    opacity: 1;
}

.my_padding-btn:hover .my_white-border-blue-btn{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50rem;
    padding: 2px 30px;
}

.my_padding-btn:hover .my_white-border-grey-btn{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50rem;
    padding: 2px 10px;
}

.my_padding-btn:hover .my_white-border-red-btn{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50rem;
    padding: 2px 20px;
}

.my_padding-btn:hover .my_white-border-light-grey-btn{
    border: 3px solid rgb(22, 28, 59);
    border-radius: 50rem;
    padding: 2px 20px;
}

.my_btn-border-grey:hover{
    box-shadow: 0 0 0 0.18rem rgba(217, 218, 220, 0.4);
    transition: 0.3s;
    color: rgb(45, 100, 230);
}

.my_rem-08{
    font-size: 0.8rem;
}

@media screen and (max-width: 767px){
    .my_btn-grey-navbar{
        min-width: 180px;
    }
    .my_padding-btn:hover .my_white-border-grey-btn{
        border: 3px solid rgb(255, 255, 255);
        border-radius: 50rem;
        padding: 2px 60px;
    }

    .my_border-lens{
        border: 2px solid black;
    }
}